.sierra-ave {
  background-image: url("/sierra-ave-2.jpg");
  background-size: cover;
  background-position: center;
}
.res-grid {
  max-width: 99.5%;
}
.res-grid-box img {
   max-width: 100%;
  height: auto;
  cursor:pointer;
}
.res-property-list {
    font-size: 20px;
    line-height: 1.25;
    width: 50%;
    padding: 0 40px;
    display: table-cell;
}
.property-desc-box {
  padding: 0px 0px 60px 0px;
}
@media (min-width: 768px) {
  .special-border-right {
    border-right: 2px solid white;
    line-height: 1;
    text-align: right;
  }
}
