.sierra-ave {
  background-image: url("/sierra-ave-2.jpg");
  background-size: cover;
  background-position: center;
}
.res-intro-main {
  margin-top: 40px;
  margin-bottom: 40px;
}
.res-grid-first {
  max-width: 99.5%;
  padding: 60px 0px 50px 0px;
}
.res-grid-last {
  max-width: 99.5%;
  padding: 0px 0px 70px 0px;
}
.res-grid-box img {
   max-width: 100%;
  height: auto;
  cursor:pointer;
}
.res-property-list {
    font-size: 20px;
    line-height: 1.25;
    width: 50%;
    padding: 0 40px;
    display: table-cell;
}
.property-desc-box {
  padding: 0px 0px 60px 0px;
}
.res-property-decoration {
  background-image: url("../images/sandbox-solana-beach-residential-living-leasing-property-features-woman-floating-in-ocean-on-a-tube.jpg");
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .special-border-right {
    border-right: 2px solid white;
    line-height: 1;
    text-align: right;
  }
}
@media (max-width: 768px) {
  .res-property-list {
    display: block;
    font-size: 18px;
    line-height: 1.25;
    padding: 10px 20px 10px 10px;
    width: 90%;
}
  .res-property-decoration {
  display: none;
}
  .res-grid-box .mt-50 {
  margin-top: 20px;
}
  .res-grid-box img {
       padding-top: 40px;
}
  .res-grid-first {
  max-width: 99.5%;
  padding: 60px 0px 0px 0px;
}
}
